@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "BNCE" 0,
      "INFM" 0,
      "SPAC" 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.8)), url(img/yemita_811.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
.logo {
    color: #ffffdc;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}
.header-content {
    text-align: center;
}
.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

/*Aquí acaba el header*/

.yopi {
    padding: 80px 0;
    background-image: url(img/fodooo.jpg);
    background-repeat: repeat;
    position: relative;
    height: 200vh;

}
.yopi-content {
    text-align: center;
    margin-bottom: 200px;
}
.yopi-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}
.yopi-group {
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px;
}

.yopi-cont {
    width: 100%;
    height: 50vh;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 50px 8px;
}
.yopi-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.yopi-gallery img {
    width: 100%;
    border-radius: 10%;
}
.yopi-1 h3 {
    columns: #323337;
    font-size: 20px;
    margin-bottom: 20px;
}
.yopi .yopi-img {
    height: 200px;
    padding: 0 42%;
    
}
/*aquí termina sección yopi*/


.footer {
    padding: 5px 0;
    background-color: #bfbfbf;

}

.link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 25%;
  
}
.footer h3 {
    font-size: 20px;
    color: #f9fafc;
   padding: 0 48%;
}
.link a {
    font-size: 16px;
    color: #c5c5c5;
    display: block;
}
.link a img {
    width: 40px;
}
/*aquí termina footer*/
@media (min-width: 992px){
    .menu .hdden {
        display: none;
    }
}
@media (max-width: 991px) {
    .menu {
        padding: 30px;
    }
    .header {
        min-height: 0vh;
    }
    .header-content {
        padding: 100px 30px;
    }
    .header-content p {
        padding: 0;
    }
    .yopi {
        padding: 30px;
        height: 300vh;
        display: block;
    }
    .yopi-content h2 {
        padding: 0;
    }
    .txt-p {
         padding: 0;
    }
    .yopi-group {
        flex-direction: column;
        margin-bottom: 0;
    }
    .yopi .yopi-img {
        padding: auto;
    }
    .footer {
        padding: 30px;
        
    }
    .footer  h3{
        padding: 0 44%;
        
    }
    .link {
        flex-direction: column;
        text-align: center;
    }

    
}
@media  (max-width: 600px) {
    .header {
        min-height: 0vh;
    }
    .header-content {
        padding: 50px 30px;
    }
    .header-content p {
        padding: 0;
    }
    .header h1 {
        font-size: 200%;
        margin: 20px;
    }
    .yopi {
        padding: 30px;
        height: 260vh;
    }
    .yopi-content h2 {
        padding: 0;
        font-size: 40px;
    }
    .txt-p {
         padding: 0;
    }
    .yopi-group {
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .yopi-gallery {
        display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    }
    .yopi .yopi-img {
        padding: 0 0;
    }

    .footer {
        padding: 30px;
        
    }
    .footer  h3{
        padding: 0 44%;
        
    }
    .link {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 250px){
    .header {
        min-height: 0vh;
    }
    .header-content {
        padding: 50px 30px;
    }
    .header-content p {
        padding: 0;
        font-size: 12px;
    }
    .header h1 {
        font-size: 150%;
        margin: 20px;
    }
    .yopi {
        padding: 30px;
        height: 250vh;
    }
    .yopi-content h2 {
        padding: 0;
        font-size: 20px;
    }
    .txt-p {
         padding: 0;
    }
    .yopi-group {
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .yopi-gallery {
        display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    }
    .yopi .yopi-img {
        height: 100px;
        padding: auto 4%;
    }

    .footer {
        padding: 30px;
        
    }
    .footer  h3{
        padding: 0 44%;
        
    }
    .link {
        flex-direction: column;
        text-align: center;
    }
}
